﻿
@{
    ViewBag.Title = "CatalogoPerfume";
}

<div class="bg-content">
    <!--============================== content =================================-->
    <div id="content">
        @*<div class="ic">More Website Templates @ TemplateMonster.com. November19, 2012!</div>*@
        <div class="container">
            <div class="row">
                <article class="span12">
                    <h3 style="text-align:center; color:black">Catalogo Perfumes</h3>

                    <table style="background-color: white">

                        <tr class="list-photo">

                            <td> <a href="~/img/p5p1.jpg" class="magnifier"><img alt="" src="~/img/p5p1.jpg"></a></td>
                            <td><a href="~/img/p5p2.jpg" class="magnifier"><img alt="" src="~/img/p5p2.jpg"></a></td>
                            <td><a href="~/img/p5p3.jpg" class="magnifier"><img alt="" src="~/img/p5p3.jpg"></a></td>
                            <td><a href="~/img/p5p4.jpg" class="magnifier"><img alt="" src="~/img/p5p4.jpg"></a></td>

                        </tr>
                        <tr class="list-photo">

                            <td><a href="~/img/p5p5.jpg" class="magnifier"><img alt="" src="~/img/p5p5.jpg"></a></td>
                            <td><a href="~/img/p5p6.jpg" class="magnifier"><img alt="" src="~/img/p5p6.jpg"></a></td>
                            <td><a href="~/img/p5p7.jpg" class="magnifier"><img alt="" src="~/img/p5p7.jpg"></a></td>
                            <td><a href="~/img/p5p8.jpg" class="magnifier"><img alt="" src="~/img/p5p8.jpg"></a></td>

                        </tr>
                        <tr class="list-photo">

                            <td><a href="~/img/p5p9.jpg" class="magnifier"><img alt="" src="~/img/p5p9.jpg"></a></td>
                            <td><a href="~/img/p5p10.jpg" class="magnifier"><img alt="" src="~/img/p5p10.jpg"></a></td>
                            <td><a href="~/img/p5p11.jpg" class="magnifier"><img alt="" src="~/img/p5p11.jpg"></a></td>
                            <td><a href="~/img/p5p12.jpg" class="magnifier"><img alt="" src="~/img/p5p12.jpg"></a></td>

                        </tr>
                        <tr class="list-photo">

                            <td><a href="~/img/p5p13.jpg" class="magnifier"><img alt="" src="~/img/p5p13.jpg"></a></td>
                            <td><a href="~/img/p5p14.jpg" class="magnifier"><img alt="" src="~/img/p5p14.jpg"></a></td>
                            <td><a href="~/img/p5p15.jpg" class="magnifier"><img alt="" src="~/img/p5p15.jpg"></a></td>
                            <td><a href="~/img/p5p16.jpg" class="magnifier"><img alt="" src="~/img/p5p16.jpg"></a></td>

                        </tr>

                        
                    </table>
                </article>
               
        </div>
    </div>
</div>
