﻿@{
    ViewBag.Title = "Error de inicio de sesión";
}

<h2>@ViewBag.Title.</h2>
<h3 class="text-error"><font color="black">El inicio de sesión con el servicio no se ha llevado a cabo correctamente.</font></h3>
