﻿@using ProyectoFinal.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Administrar cuenta";
}
<div style="background-color: #FFFFFF; width: 800px; margin: 0 auto">
    <h2 style="text-align:center; color:black">@ViewBag.Title.</h2>

    <font color="black"><p class="text-success">@ViewBag.StatusMessage</p></font>
    <div class="row" style="background-color: #FFFFFF; width: 800px; margin: 0 auto">
        <div class="col-md-12">
            @if (ViewBag.HasLocalPassword)
            {
                @Html.Partial("_ChangePasswordPartial")
            }
            else
            {
                @Html.Partial("_SetPasswordPartial")
            }

            <section id="externalLogins">
                @Html.Action("RemoveAccountList")
                @Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>
 </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
