﻿@model IEnumerable<ProyectoFinal.Models.Producto>
@{
    ViewBag.Title = "ConsultarProducto";
}

<div style="background-color: #FFFFFF; width: 800px; margin: 0 auto">
    <h2 style="text-align:center; color:black">Producto</h2>

   
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_producto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                
            </tr>
        }

    </table>
</div>

