﻿@model ProyectoFinal.Models.Producto

@{
    ViewBag.Title = "Create";
}
<div style="background-color: #FFFFFF; width: 800px; margin: 0 auto">
    <h2 style="text-align:center; color:black">Crear Producto</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4 style="text-align:center; color:black">Producto</h4>
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Nombre_producto, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nombre_producto)
                    @Html.ValidationMessageFor(model => model.Nombre_producto)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Marca, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Marca)
                    @Html.ValidationMessageFor(model => model.Marca)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Precio, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Precio)
                    @Html.ValidationMessageFor(model => model.Precio)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>