﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



 <!--============================== content =================================-->

<div id="content" class="content-extra">
    @*<div class="ic">More Website Templates @ TemplateMonster.com. November19, 2012!</div>*@
    <div class="row-1" style="background-color: black">
        <div class="container">
            <div class="row">
                <ul class="thumbnails thumbnails-1">
                    <li class="span3">
                        <div class="thumbnail thumbnail-1">
                            <h3>"212 VIP BY:Carolina Herrera"</h3>
                            <img src="~/Img/212p.jpg" alt="">

                        </div>
                    </li>
                    <li class="span3">
                        <div class="thumbnail thumbnail-1">
                            <h3>Sensualidad con VANESSA</h3>
                            <img src="~/Img/vane.jpg" alt="">

                        </div>
                    </li>
                    <li class="span3">
                        <div class="thumbnail thumbnail-1">
                            <h3>D'Mario El Reloj Suizo a Su Alcance</h3>
                            <img src="~/Img/mario.jpg" alt="">

                        </div>
                    </li>
                    <li class="span3">
                        <div class="thumbnail thumbnail-1">
                            <h3 class="title-1 extra">Elegancia de <br />Kosta Azul</h3>
                            <img src="~/Img/kaa.jpg" alt="">

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row">
            <article class="span6">
                <h3>Sobre nosotros</h3>
                <div class="wrapper">
                    <figure class="img-indent"><img src="~/Img/credinapoles2.jpg " alt="" /></figure>
                    <div class="inner-1 overflow extra">

                        CREDINAPOLES CN, una empresa que lleva 20 años, la cual ofrece credito personal y por libranza a todo el magisterio...
                        En principales marcas en ropa como: Kosta Azul, Jhon Paolo, Omce Leven, Vanessa...
                        Toda la gama de perfumes: 212, Versace, Carolina Herrera, One Millon, Paris Hilton, Hugo Boss, entre otros...
                        <div class="border-horiz"></div>

                    </div>
                </div>
            </article>
            <article class="span6" >
                <h3 style="text-align:center; color:black">Lista de Articulo</h3>

                <table>

                    <tr class="list-photo">
                       
                        <td> <a href="~/Img/p0p1.jpg" class="magnifier" style="border:groove"><img src="~/Img/p0i1.jpg " alt="" /></a></td>
                        <td><a href="~/Img/p0p2.jpg" class="magnifier" style="border:groove"><img src="~/Img/p0i2.jpg " alt="" /></a></td>
                        <td><a href="~/Img/p0p3.jpg" class="magnifier" style="border:groove"><img src="~/Img/p0i3.jpg " alt="" /></a></td>
                        <td><a href="~/Img/p0p4.jpg" class="magnifier" style="border:groove"><img src="~/Img/p0i4.jpg " alt="" /></a></td>
                        
                    </tr>
                    <tr class="list-photo">
                       
                        <td> <a href="~/Img/p0p5.jpg" class="magnifier" style="border:groove"><img src="~/Img/p0i5.jpg " alt="" /></a></td>
                        <td><a href="~/Img/p0p6.jpg" class="magnifier" style="border:groove"><img src="~/Img/p0i6.jpg " alt="" /></a></td>
                        <td><a href="~/Img/p0p7.jpg" class="magnifier" style="border:groove"><img src="~/Img/p0i7.JPG " alt="" /></a></td>
                        <td><a href="~/Img/p0p8.jpg" class="magnifier" style="border:groove"><img src="~/Img/p0i8.jpg " alt="" /></a></td>
                        
                    </tr>
                    <tr class="list-photo">
                        
                        <td><a href="~/Img/p0p9.jpg" class="magnifier" style="border:groove"><img src="~/Img/p0i9.jpg " alt="" /></a></td>
                        <td><a href="~/Img/p0p10.jpg" class="magnifier" style="border:groove"><img src="~/Img/p0i10.jpg " alt="" /></a></td>
                        <td><a href="~/Img/p0p11.jpg" class="magnifier" style="border:groove"><img src="~/Img/p0i11.jpg " alt="" /></a></td>
                        <td><a href="~/Img/p0p12.jpg" class="magnifier" style="border:groove"><img src="~/Img/p0i12.jpg " alt="" /></a></td>
                        
                    </tr>
                </table>
            </article>
        </div>
    </div>
</div>

