﻿@{
    ViewBag.Title = "Contact";
}



<div class="bg-content" style="background-color: black">
    <!--============================== content =================================-->
    <div id="content">
                @*<div class="ic">More Website Templates @ TemplateMonster.com. November19,
        <a href="~/Views/_ViewStart.cshtml">~/Views/_ViewStart.cshtml</a> 2012!</div>*@
        <div class="container">
            <div class="row" >
                
                <article class="span8">
                    <h3>Contactenos</h3>
                    <div class="inner-1" style="width:400px">
                        <form id="contact-form">
                            
                            <fieldset>
                                <div>
                                    <label class="nombre">
                                        <input type="text" id="name" required placeholder="Nombre" >
                                        <br>
                                       
                                    </label>
                                </div>
                                <br />
                                <div>
                                    <label class="Telefono">
                                        <input type="tel" id="telefono" placeholder="Telefono">
                                        <br>
                                       
                                    </label>
                                </div>
                                <br />
                                <div>
                                    <label class="Correo Electronico">
                                        <input type="email" id="email" required placeholder="Correo Electronico">
                                        <br>
                                        
                                    </label>
                                </div>
                                <br />
                                <div>
                                    <label class="message">
                                        <textarea id="mensaje" required placeholder="Mensaje">Mensaje</textarea>
                                        <br>
                                       
                                    </label>
                                </div>
                                <br />
                                <div class="buttons-wrapper">  <input type="submit" name="send" value="Enviar Mensaje" id="submit" class="btn btn-1"></div>
                            </fieldset>
                        </form>
                    </div>
                </article>
                <article class="span4">
                    <h3>Información de Contacto</h3>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d897.3567593077847!2d-75.6151445590505!3d1.6140105752080693!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e244e05ff4f5049%3A0x2662623189da7bec!2sCl.+14+%2313-64%2C+Florencia%2C+Caquet%C3%A1%2C+Colombia!5e1!3m2!1ses-419!2sit!4v1438040014531" width="400" height="400" frameborder="0" style="border:0"></iframe>
                    </div>
                    <address class="address-1">

                        <div class="overflow">
                            <span>Celular</span>310-862-1119<br>
                            <span>Telefono:</span>038-434-1203<br>
                            <span>Coreo:</span> <a href="#" class="mail-1">credinapoles-cn@hotmail.com</a><br>
                            @*<span>Skype:</span> <a href="#" class="mail-1">@skypename</a>*@
                        </div>
                    </address>
                </article>
               
            </div>
        </div>
    </div>
</div>