﻿@{
    ViewBag.Title = "Home Page";
}


<div style="background-color: black; border-top-color: #CC0000; border-right-color: blue; border-bottom-color: #00FF00; border-left-color: #CCC; " >
    <div class="bg-content">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <!--============================== slider =================================-->
                    <div class="flexslider">
                        <ul class="slides">
                            <li> <img src="~/Img/1kosta.jpg" alt="" border="6"> </li>
                            <li> <img src="~/Img/1aritex.jpg" alt="" border="6"> </li>
                            <li> <img src="~/Img/1marro.jpg" alt="" border="6"> </li>
                            <li> <img src="~/Img/1perfumes1.jpg" alt="" border="6"> </li>
                            <li> <img src="~/Img/1reloj.jpg" alt="" border="6"> </li>
                        </ul>
                    </div>
                    <span id="responsiveFlag"></span>
                    <div class="block-slogan">
                        <h2>BIENVENIDOS!</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>