﻿@model ProyectoFinal.Models.Pagina

@{
    ViewBag.Title = "Create";
}
<div style="background-color: #FFFFFF; width: 800px; margin: 0 auto">
    <h2 style="text-align:center; color:black">Crear Pagina</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4 style="text-align:center; color:black">Pagina</h4>
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                <font color="black">
                    @Html.LabelFor(model => model.Nombre_pagina, new { @class = "control-label col-md-2" })</font>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nombre_pagina)
                    @Html.ValidationMessageFor(model => model.Nombre_pagina)
                </div>
</div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
 </div>
