﻿@model ProyectoFinal.Models.Pagina

@{
    ViewBag.Title = "Delete";
}
<div style="background-color: #FFFFFF; width: 800px; margin: 0 auto">
    <h2 style="text-align:center; color:black">Eliminar Pagina</h2>

    <h3 style="text-align:center; color:black">¿Seguro que quieres borrar esto?</h3>
    <div>
        <h4>Pagina</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <font color="black"> @Html.DisplayNameFor(model => model.Nombre_pagina)</font></dt>

            <dd>
                <font color="black"> @Html.DisplayFor(model => model.Nombre_pagina) </font></dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
 </div>
