﻿@model ProyectoFinal.Models.Pagina

@{
    ViewBag.Title = "Details";
}
<div style="background-color: #FFFFFF; width: 800px; margin: 0 auto">
    <h2 style="text-align:center; color:black">Detalle Pagina</h2>

    <div>
        <h4 style="text-align:center; color:black">Pagina</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre_pagina)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre_pagina)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>