﻿@model IEnumerable<ProyectoFinal.Models.Pagina>

@{
    ViewBag.Title = "Index";
}
<div style="background-color: #FFFFFF; width: 800px; margin: 0 auto">
    <h2 style="text-align:center; color:black">Consultar Pagina</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_pagina)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_pagina)
                </td>
                <td>
                    @Html.ActionLink("Editar Pagina", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalle Pagina", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar Pagina", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>