﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    
     @*<div class="nav-collapse nav-collapse_  collapse">
          <ul class="nav sf-menu">
              <li class="active">@Html.ActionLink("Consultar Menu", "Index", "Menu")</li>
              <li class="active">@Html.ActionLink("Crear Menu", "Create", "Menu")</li>  

              <li class="active">@Html.ActionLink("Consultar Pagina", "Index", "Pagina")</li> 
              <li class="active">@Html.ActionLink("Crear Pagina", "Create", "Pagina")</li>  

              <li class="active">@Html.ActionLink("Consultar Producto", "Index", "Producto")</li>
              <li class="active">@Html.ActionLink("Crear Producto", "Create", "Producto")</li> 

              <li class="active">@Html.ActionLink("Consultar Categoria", "Index", "Categoria")</li>
              <li class="active">@Html.ActionLink("Crear Categoria", "Create", "Categoria")</li> 
                              
          </ul>
         
                               
     </div>*@
    
    <div class="nav-collapse nav-collapse_  collapse">
          <ul class="nav sf-menu">
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown">Menu<span class="caret"></span></a>
                  <ul class="dropdown-menu" aria-labelledby="themes">
                      <li class="active">@Html.ActionLink("Consultar Menu", "Index", "Menu")</li>
                      <li class="active">@Html.ActionLink("Crear Menu", "Create", "Menu")</li>  
                  </ul>
              </li>

              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown">Pagina<span class="caret"></span></a>
                  <ul class="dropdown-menu" aria-labelledby="themes">
                      <li class="active">@Html.ActionLink("Consultar Pagina", "Index", "Pagina")</li>
                      <li class="active">@Html.ActionLink("Crear Pagina", "Create", "Pagina")</li>
                  </ul>
              </li>

              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown">Producto<span class="caret"></span></a>
                  <ul class="dropdown-menu" aria-labelledby="themes">
                      <li class="active">@Html.ActionLink("Consultar Producto", "Index", "Producto")</li>
                      <li class="active">@Html.ActionLink("Crear Producto", "Create", "Producto")</li> 
                  </ul>
              </li>

              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown">Categoria Producto<span class="caret"></span></a>
                  <ul class="dropdown-menu" aria-labelledby="themes">
                      <li class="active">@Html.ActionLink("Consultar Categoria", "Index", "Categoria")</li>
                      <li class="active">@Html.ActionLink("Crear Categoria", "Create", "Categoria")</li>
                  </ul>
              </li>
                              
          </ul>
         
                               
     </div>
    
    
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Administrar" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    </ul>
    
   
    }
}
else
{
  
    @*<div class="nav-collapse nav-collapse_  collapse">
        <ul class="nav sf-menu">
            <li class="active">@Html.ActionLink("Inicio", "Index", "Home")</li>
            <li class="active">@Html.ActionLink("Acerca de", "About", "Home")</li>
            <li class="active">@Html.ActionLink("Contacto", "Contact", "Home")</li>
            <li class="active">@Html.ActionLink("Catalogo Hombre", "CatalogoHombre", "CatalogoHombre")</li>
            <li class="active">@Html.ActionLink("Catalogo Dama", "CatalogoDama", "CatalogoDama")</li>
            <li class="active">@Html.ActionLink("Catalogo Niño", "CatalogoNiño", "CatalogoNiño")</li>
            <li class="active">@Html.ActionLink("Catalogo Perfume", "CatalogoPerfume", "CatalogoPerfume")</li>
            <li class="active">@Html.ActionLink("Catalogo Relojes", "CatalogoRelojes", "CatalogoRelojes")</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    </div>*@
    
    <div class="nav-collapse nav-collapse_  collapse">
          <ul class="nav sf-menu">
              <li class="active">@Html.ActionLink("Inicio", "Index", "Home")</li>

              <li class="active">@Html.ActionLink("Acerca de", "About", "Home")</li>


              <li class="active">@Html.ActionLink("Contacto", "Contact", "Home")</li>

              <li class="active">@Html.ActionLink("Producto Disponible", "ConsultarProducto", "Producto")</li>

              <li class="active">@Html.ActionLink("Categoria de Producto", "ConsultarCategoria", "Categoria")</li>

             <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown">Catalogos<span class="caret"></span></a>
                  <ul class="dropdown-menu" aria-labelledby="themes">
                        <li class="active">@Html.ActionLink("Catalogo Hombre", "CatalogoHombre", "CatalogoHombre")</li>
                        <li class="active">@Html.ActionLink("Catalogo Dama", "CatalogoDama", "CatalogoDama")</li>
                        <li class="active">@Html.ActionLink("Catalogo Niño", "CatalogoNiño", "CatalogoNiño")</li>
                        <li class="active">@Html.ActionLink("Catalogo Perfume", "CatalogoPerfume", "CatalogoPerfume")</li>
                        <li class="active">@Html.ActionLink("Catalogo Relojes", "CatalogoRelojes", "CatalogoRelojes")</li>
                  </ul>
              </li>

             
                              
          </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
         
                               
     </div>
    
}
