﻿
@{
    ViewBag.Title = "CatalogoDama";
}

<div class="bg-content">
    <!--============================== content =================================-->
    <div id="content">
        @*<div class="ic">More Website Templates @ TemplateMonster.com. November19, 2012!</div>*@
        <div class="container">
            <div class="row">
                <article class="span12">
                    <h3 style="text-align:center; color:black">Catalogo Dama</h3>

                    <table style="background-color: white">

                        <tr class="list-photo">

                            <td><a href="~/img/p3d1.jpg" class="magnifier"><img alt="" src="~/img/p3d1.jpg"></a><span>Ref.14010</span></td>
                            <td><a href="~/img/p3d2.jpg" class="magnifier"><img alt="" src="~/img/p3d2.jpg"></a><span>Ref.14004</span></td>
                            <td><a href="~/img/p3d3.jpg" class="magnifier"><img alt="" src="~/img/p3d3.jpg"></a><span>Ref:14009</span></td>
                            <td><a href="~/img/p3d4.jpg" class="magnifier"><img alt="" src="~/img/p3d4.jpg"></a><span>Ref:14007</span></td>

                        </tr>
                        <tr class="list-photo">

                            <td><a href="~/img/p3d5.jpg" class="magnifier"><img alt="" src="~/img/p3d5.jpg"></a><span>Ref:13028</span></td>
                            <td><a href="~/img/p3d6.jpg" class="magnifier"><img alt="" src="~/img/p3d6.jpg"></a><span>Ref:13027</span></td>
                            <td><a href="~/img/p3d7.jpg" class="magnifier"><img alt="" src="~/img/p3d7.jpg"></a><span>Ref:13036</span></td>
                            <td><a href="~/img/p3d8.jpg" class="magnifier"><img alt="" src="~/img/p3d8.jpg"></a><span>Ref:13034</span></td>

                        </tr>
                        <tr class="list-photo">

                            <td><a href="~/img/p3d9.jpg" class="magnifier"><img alt="" src="~/img/p3d9.jpg"></a><span>Ref:13033</span></td>
                            <td><a href="~/img/p3d10.jpg" class="magnifier"><img alt="" src="~/img/p3d10.jpg"></a><span>Ref:13029</span></td>
                            <td><a href="~/img/p3d11.jpg" class="magnifier"><img alt="" src="~/img/p3d11.jpg"></a><span>Ref:13025</span></td>
                            <td><a href="~/img/p3d12.jpg" class="magnifier"><img alt="" src="~/img/p3d12.jpg"></a><span>Ref:13024</span></td>

                        </tr>
                        <tr class="list-photo">

                            <td><a href="~/img/p3d13.jpg" class="magnifier"><img alt="" src="~/img/p3d13.jpg"></a><span>Ref:AL</span></td>
                            <td><a href="~/img/p3d14.jpg" class="magnifier"><img alt="" src="~/img/p3d14.jpg"></a><span>Ref:AF</span></td>
                            <td><a href="~/img/p3d15.jpg" class="magnifier"><img alt="" src="~/img/p3d15.jpg"></a><span>Ref:AB</span></td>

                        </tr>

                    </table>
                </article>
               
        </div>
    </div>
</div>
