﻿@model ProyectoFinal.Models.Menu

@{
    ViewBag.Title = "Create";
}

<div style="background-color: #FFFFFF; width: 800px; margin: 0 auto">
    <h2 style="text-align:center; color:black">Crear Menu</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4 style="text-align:center; color:black">Menu</h4>
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                <font color="white">
                    @Html.LabelFor(model => model.Nombre_menu, new { @class = "control-label col-md-2" })</font>
                    <div class="col-md-10">
                        <font color="white">
                            @Html.EditorFor(model => model.Nombre_menu)</font>
                        <font color="white"> @Html.ValidationMessageFor(model => model.Nombre_menu)</font>
                    </div>
              </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10" id="menu">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>



<script>
    var bt_count = 0;
    $("#model.Nombre_menu").bind("click", function () {
        $(this).after("<input type=\"submit\" value=\"Create\" class=\"btn btn-default"+ (++bt_count) +" />");
    });
</script>