﻿@model ProyectoFinal.Models.Menu

@{
    ViewBag.Title = "Details";
}
<div style="background-color: #FFFFFF; width: 800px; margin: 0 auto">
    <h2 style="text-align:center; color:black">Detalle Menu</h2>

    <div>
        <h4 style="text-color:black">Menu</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <font color="white"> @Html.DisplayNameFor(model => model.Nombre_menu)</font></dt>

            <dd>
                <font color="white"> @Html.DisplayFor(model => model.Nombre_menu)</font></dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>