﻿@model ProyectoFinal.Models.Menu

@{
    ViewBag.Title = "Edit";
}
<div style="background-color: #FFFFFF; width: 800px; margin: 0 auto">
    <h2 style="text-align:center; color:black">Editar Menu</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4 style="text-align:center; color:black">Menu</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                <font color="white">
                    @Html.LabelFor(model => model.Nombre_menu, new { @class = "control-label col-md-2" })</font>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nombre_menu)
                        @Html.ValidationMessageFor(model => model.Nombre_menu)
                    </div>
</div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>