﻿@model IEnumerable<ProyectoFinal.Models.Menu>

@{
    ViewBag.Title = "Index";
}
<div style="background-color: #FFFFFF; width: 800px; margin: 0 auto">
    <h2 style="text-align:center; color:black">Consultar Menu</h2>

    <p>
        <font color="black">@Html.ActionLink("Create New", "Create")</font>
    </p>
    <table class="table">
        <tr>
            <th>
                <font color="black"> @Html.DisplayNameFor(model => model.Nombre_menu)</font></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <font color="black">@Html.DisplayFor(modelItem => item.Nombre_menu)</font></td>
                <td>
                    @Html.ActionLink("Editar Menu", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalle Menu", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar Menu", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
  </div>
