﻿@model IEnumerable<ProyectoFinal.Models.Categoria>
@{
    ViewBag.Title = "ConsultarCategoria";
}



<div style="background-color: #FFFFFF; width: 800px; margin: 0 auto">
    <h2 style="text-align:center; color:black">Categoria Producto</h2>

    
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_categoria)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_categoria)
                </td>
                
            </tr>
        }

    </table>
</div>
