﻿@model ProyectoFinal.Models.Categoria

@{
    ViewBag.Title = "Delete";
}
<div style="background-color: #FFFFFF; width: 800px; margin: 0 auto">
    <h2 style="text-align:center; color:black">Eliminar Categoria Producto</h2>

    <h3 style="text-align:center; color:black">¿Seguro que quieres borrar esto?</h3>
    <div>
        <h4 style="text-align:center; color:black">Categoria</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre_categoria)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre_categoria)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
    </div>
