﻿@model ProyectoFinal.Models.Categoria

@{
    ViewBag.Title = "Edit";
}
<div style="background-color: #58ACFA; width: 800px; margin: 0 auto">
    <h2>Editar Categoria Producto</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Categoria</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Nombre_categoria, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nombre_categoria)
                    @Html.ValidationMessageFor(model => model.Nombre_categoria)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    </div>
