﻿
@{
    ViewBag.Title = "CatalogoHombre";
}

<div class="bg-content">
    <!--============================== content =================================-->
    <div id="content">
        @*<div class="ic">More Website Templates @ TemplateMonster.com. November19, 2012!</div>*@
        <div class="container">
            <div class="row">
                <article class="span12">
                    <h3 style ="text-align:center; color:black">Catalogo Caballero</h3>

                    <table style="background-color: white">

                        <tr class="list-photo">

                            <td><a href="~/img/p2ka3.jpg" class="magnifier"><img alt="" src="~/img/p2ka3.jpg"></a><span>Referencia: 011D443 <br />Camisa Manga Larga, cuello inglés.</span></td>
                            <td><a href="~/img/p2ka4.jpg" class="magnifier"><img alt="" src="~/img/p2ka4.jpg"></a><span>Referencia: 0114875 <br /> Camisa Manga Larga, cuello inglés.</span></td>
                            <td><a href="~/img/p2ka5.jpg" class="magnifier"><img alt="" src="~/img/p2ka5.jpg"></a><span>Referencia: 0118015 <br /> Camisa Manga Larga, cuello inglés.</span></td>
                            <td><a href="~/img/p2ka6.jpg" class="magnifier"><img alt="" src="~/img/p2ka6.jpg"></a><span>Referencia: 0112604 <br />Camisa Manga Larga, cuello inglés.</span></td>

                        </tr>
                        <tr class="list-photo">

                            <td><a href="~/img/p2ka8.jpg" class="magnifier"><img alt="" src="~/img/p2ka8.jpg"></a><span>Referencia: 011D445<br />Camisa Manga Larga, cuello inglés.</span></td>
                            <td><a href="~/img/p2ka9.jpg" class="magnifier"><img alt="" src="~/img/p2ka9.jpg"></a><span>Referencia: 0298450 <br />Pantalón clásico, sin prenses.</span></td>
                            <td><a href="~/img/p2ka10.jpg" class="magnifier"><img alt="" src="~/img/p2ka10.jpg"></a><span>Referencia: 0296858 <br />Pantalón Clásico con prenses.</span></td>
                            <td><a href="~/img/p2ka11.jpg" class="magnifier"><img alt="" src="~/img/p2ka11.jpg"></a><span>Referencia: 014D377 <br />Camisa Manga Corta, cuello Botón Down Oculto.</span></td>

                        </tr>
                        <tr class="list-photo">

                            <td><a href="~/img/p2ka20.jpg" class="magnifier"><img alt="" src="~/img/p2ka20.jpg"></a><span>Referencia: F15D616<br />Camisa Manga corta, bordado en frentes.</span></td>
                            <td><a href="~/img/p2ka21.jpg" class="magnifier"><img alt="" src="~/img/p2ka21.jpg"></a><span>Referencia: F28A216<br />Pantalón en drill, 5 bolsillos.</span></td>
                            <td><a href="~/img/p2ka22.jpg" class="magnifier"><img alt="" src="~/img/p2ka22.jpg"></a><span>Referencia: 026A267 <br />Pantalón Sport, sin prenses.</span></td>
                            <td><a href="~/img/p2ka23.jpg" class="magnifier"><img alt="" src="~/img/p2ka23.jpg"></a><span>Referencia: 028A304 <br />Pantalón en drill, 5 bolsillos.</span></td>

                        </tr>
                        <tr class="list-photo">

                            <td><a href="~/img/p2ka24.jpg" class="magnifier"><img alt="" src="~/img/p2ka24.jpg"></a><span>Referencia: F534281 <br />Jean, 5 bolsillos. Regular Fit.</span></td>
                            <td><a href="~/img/p2ka25.jpg" class="magnifier"><img alt="" src="~/img/p2ka25.jpg"></a><span>Referencia: 0534395<br /> Jean, 5 bolsillos. Regular Fit.</span></td>
                            <td><a href="~/img/p2ka26.jpg" class="magnifier"><img alt="" src="~/img/p2ka26.jpg"></a><span>Referencia: 0534397 <br />Jean, 5 bolsillos. Regular Fit.</span></td>
                            <td><a href="~/img/p2ka27.jpg" class="magnifier"><img alt="" src="~/img/p2ka27.jpg"></a><span>Referencia: 0429324 <br /> Bermuda, con bolsillos laterales tipo cargo.</span></td>

                        </tr>

                        
                    </table>
                </article>
               
        </div>
    </div>
</div>

