﻿
@{
    ViewBag.Title = "CatalogoNiño";
}


<div class="bg-content">
    <!--============================== content =================================-->
    <div id="content">
        @*<div class="ic">More Website Templates @ TemplateMonster.com. November19, 2012!</div>*@
        <div class="container">
            <div class="row">
                <article class="span12">
                    <h3 style="text-align:center; color:black">Catalogo Niños</h3>

                    <table style="background-color: white">

                        <tr class="list-photo">

                            <td> <a href="~/img/p6n1.jpg" class="magnifier"><img alt="" src="~/img/p6n1.jpg"></a></td>
                            <td><a href="~/img/p6n2.jpg" class="magnifier"><img alt="" src="~/img/p6n2.jpg"></a></td>
                            <td><a href="~/img/p6n3.jpg" class="magnifier"><img alt="" src="~/img/p6n3.jpg"></a></td>
                            <td><a href="~/img/p6n4.jpg" class="magnifier"><img alt="" src="~/img/p6n4.jpg"></a></td>

                        </tr>
                        <tr class="list-photo">

                            <td> <a href="~/img/p6n5.jpg" class="magnifier"><img alt="" src="~/img/p6n5.jpg"></a></td>
                            <td><a href="~/img/p6n6.jpg" class="magnifier"><img alt="" src="~/img/p6n6.jpg"></a></td>
                            <td><a href="~/img/p6n7.jpg" class="magnifier"><img alt="" src="~/img/p6n7.jpg"></a></td>
                            <td><a href="~/img/p6n8.jpg" class="magnifier"><img alt="" src="~/img/p6n8.jpg"></a></td>

                        </tr>
                        <tr class="list-photo">

                            <td><a href="~/img/p6n9.jpg" class="magnifier"><img alt="" src="~/img/p6n9.jpg"></a></td>
                            <td><a href="~/img/p6n10.jpg" class="magnifier"><img alt="" src="~/img/p6n10.jpg"></a></td>
                            <td><a href="~/img/p6n11.jpg" class="magnifier"><img alt="" src="~/img/p6n11.jpg"></a></td>
                            <td><a href="~/img/p6n12.jpg" class="magnifier"><img alt="" src="~/img/p6n12.jpg"></a></td>

                        </tr>
                        <tr class="list-photo">

                            <td><a href="~/img/p6n13.jpg" class="magnifier"><img alt="" src="~/img/p6n13.jpg"></a></td>
                            <td><a href="~/img/p6n14.jpg" class="magnifier"><img alt="" src="~/img/p6n14.jpg"></a></td>
                            <td><a href="~/img/p6n16.jpg" class="magnifier"><img alt="" src="~/img/p6n16.jpg"></a></td>
                            <td><a href="~/img/p6n17.jpg" class="magnifier"><img alt="" src="~/img/p6n17.jpg"></a></td>

                        </tr>
                       
                    </table>

                </article>
                
        </div>
    </div>
</div>

