﻿
@{
    ViewBag.Title = "CatalogoRelojes";
}

<div class="bg-content">
    <!--============================== content =================================-->
    <div id=" content">
        @*<div class="ic">More Website Templates @ TemplateMonster.com. November19, 2012!</div>*@
        <div class="container">
            <div class="row">
                <article class="span12">
                    <h3 style="text-align:center; color:black">Catalogo Relojes </h3>

                    <table style="background-color: white">

                        <tr class="list-photo">

                            <td><a href="~/img/p4r1.png" class="magnifier"><img alt=""src="~/img/p4r1.png"></a><span>Ref:AN1947G/L</span></td>
                            <td><a href="~/img/p4r2.png" class="magnifier"><img alt="" src="~/img/p4r2.png"></a><span>Ref:CS0185G</span></td>
                            <td><a href="~/img/p4r3.png" class="magnifier"><img alt="" src="~/img/p4r3.png"></a><span>Ref:CS5120GL</span></td>
                            <td><a href="~/img/p4r4.png" class="magnifier"><img alt="" src="~/img/p4r4.png"></a><span>Ref:KR0120</span></td>

                        </tr>
                        <tr class="list-photo">

                            <td><a href="~/img/p4r5.png" class="magnifier"><img alt="" src="~/img/p4r5.png"></a><span>Ref:KR1008</span></td>
                            <td><a href="~/img/p4r6.png" class="magnifier"><img alt="" src="~/img/p4r6.png"></a><span>Ref:KR4131</span></td>
                            <td><a href="~/img/p4r7.png" class="magnifier"><img alt="" src="~/img/p4r7.png"></a><span>Ref:KR4133</span></td>
                            <td><a href="~/img/p4r8.png" class="magnifier"><img alt="" src="~/img/p4r8.png"></a><span>Ref:KS3128</span></td>

                        </tr>
                        <tr class="list-photo">

                            <td><a href="~/img/p4r9.png" class="magnifier"><img alt="" src="~/img/p4r9.png"></a><span>Ref:KS7017</span></td>
                            <td><a href="~/img/p4r10.png" class="magnifier"><img alt="" src="~/img/p4r10.png"></a><span>Ref:ZE0153</span></td>
                            <td><a href="~/img/p4r11.png" class="magnifier"><img alt="" src="~/img/p4r11.png"></a><span>Ref:ZE3110</span></td>
                            <td><a href="~/img/p4r12.png" class="magnifier"><img alt="" src="~/img/p4r12.png"></a><span>Ref:ZE3150</span></td>

                        </tr>
                        <tr class="list-photo">

                            <td><a href="~/img/p4r17.png" class="magnifier"><img alt="" src="~/img/p4r17.png"></a><span>Ref:ZL0153</span></td>
                            <td><a href="~/img/p4r19.png" class="magnifier"><img alt="" src="~/img/p4r19.png"></a><span>Ref:ZL3180</span></td>
                            <td><a href="~/img/p4r15.png" class="magnifier"><img alt="" src="~/img/p4r15.png"></a><span>Ref:AN1947G/L</span></td>
                            <td><a href="~/img/p4r16.png" class="magnifier"><img alt="" src="~/img/p4r16.png"></a><span>Ref:AN1947G/L</span></td>

                        </tr>
                        <tr class="list-photo">

                            <td><a href="~/img/p4r32.png" class="magnifier"><img alt="" src="~/img/p4r32.png"></a><span>Ref:FC0210Z</span></td>
                            <td><a href="~/img/p4r36.png" class="magnifier"><img alt="" src="~/img/p4r36.png"></a><span>Ref:FC5508</span></td>
                            <td><a href="~/img/p4r39.png" class="magnifier"><img alt="" src="~/img/p4r39.png"></a><span>Ref:FG0333</span></td>
                            <td><a href="~/img/p4r41.png" class="magnifier"><img alt="" src="~/img/p4r41.png"></a><span>Ref:NE1406</span></td>

                        </tr>


                    </table>
                </article>


            </div>
        </div>
    </div>
</div>

